.barber-title {
  background-image: url(../images/post-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__bg {
  
   
  }
  &__title {
    font-family: $playfair,sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: $fz-xx-large;
    color: white;
    text-align: center;
    z-index: 1;
    
    
  }
}
.col {
  margin: 0px;
  padding: 0px;
}
