.barber-title {

   position: relative;
   display: inline-block;
  &__bg {
     position: absolute;
    top: 50px;
    z-index: 2;
  }
  &__title {
    font-family: $playfair,sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: $fz-xx-large;
    color: rosybrown;
    text-align: center;
    
  }
}
