/* 
.TituloTop{
    color: white;
    position: absolute;
    margin-top: 235px;
    text-align: center;
    

}
.col{
    &__logo{
        width: auto;
        height: 640px;
       
        

    }
}
.container{
    position: relative;
    display: inline-block;
    
    

}
.row{

} */
.barber-title {

  &__logo {

  }
  &__title {
      
  }
}
