// color Schema
$color-white: #fff;
$color-platinum: #e6e7e7;
$color-eerie-black: #121619;
$color-buttom: #1216199E;


//Font Sizes

$fz-xx-large: 70px;
$fz-x-large: 30px;
$fz-large: 18px;
$fz-medium: 16px;
$fz-small: 12px;