// color Schema
$color-white: #fff;
$color-platinum: #e6e7e7;
$color-eerie-black: #121619;
$color-buttom: #1216199E;

// fonts
$playfair: 'Playfair Display';
$roboto: 'Roboto';


//font Weight
$regular: 400;
$semi-bold: 600;
$bold: 700;

//Font Sizes

$fz-xx-large: 40px;
$fz-x-large: 30px;
$fz-large: 18px;
$fz-medium: 16px;
$fz-small: 12px;

//screen size
$max-movil: 320px;
$max-tablet: 768px;
$max-desktop: 1024px;